/* Footer Styles */
.footer {
    background: transparent;

    color: white;
    text-align: left;
    padding: 10px 20px;
    position: fixed; /* Фиксированное позиционирование */
    bottom: 0; /* Прижать к нижней части экрана */
    left: 0; /* Начало от левого края экрана */
    width: 100%; /* Ширина на весь экран */
    box-sizing: border-box; /* Учет padding и border в ширине элемента */
}

/* Для того чтобы содержимое страницы не перекрывалось футером,
можно добавить отступ снизу для основного контента. */
.wrapper {
    padding-bottom: 50px; /* Высота футера + немного дополнительного пространства */
}
