<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard | Your Site Name</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboard_style.css' %}" />
</head>
<body style="background-image: url('/static/images/dashboard.png'); background-size: cover; background-attachment: fixed;">

    {% include 'header.html' %}
<div class="marginWrapper">
     <div class="wrapper">
        <form id="rss_feed_form" action="{% url 'add_rss_feed' %}" method="post" class="settings-form">
            {% csrf_token %}
            <h2 style="color: white;">Add New RSS Feed</h2>
            <div style="color: white;">
                {{ rss_feed_form.as_p }}
            </div>
            <button type="button" class="save-button" onclick="submitRSSForm()" style="color: white;">Save RSS Feed</button>
        </form>

        <form id="gpt_prompt_form" action="{% url 'add_gpt_prompt' %}" method="post" class="settings-form">
            {% csrf_token %}
            <h2 style="color: white;">Add New GPT Prompt Setting</h2>
            <div style="color: white;">
                {{ gpt_prompt_form.as_p }}
            </div>
        </form>

        <form id="google_chat_form" action="{% url 'add_google_chat' %}" method="post" class="settings-form">
            {% csrf_token %}
            <h2 style="color: white;">Add New Google Chat Setting</h2>
            <div style="color: white;">
                {{ google_chat_form.as_p }}
            </div>
        </form>

        <form id="telegram_form" action="{% url 'add_telegram' %}" method="post" class="settings-form">
            {% csrf_token %}
            <h2 style="color: white;">Add New Telegram Setting</h2>
            <div style="color: white;">
                {{ telegram_form.as_p }}
            </div>
        </form>

        <form id="fibery_crm_form" action="{% url 'add_fibery' %}" method="post" class="settings-form">
            {% csrf_token %}
            <h2 style="color: white;">Add New Fibery CRM Setting</h2>
            <div style="color: white;">
                {{ fibery_crm_form.as_p }}
            </div>
        </form>

        <button type="button" class="save-button" onclick="submitAllForms()" style="color: white;">Save</button>
    </div>
</div>


    {% include 'footer.html' %}

    <script>
    async function submitRSSForm() {
        const button = document.querySelector("#rss_feed_form .save-button");
        button.disabled = true;
        button.classList.add('button-disabled');
        button.textContent = 'Saving...';

        const form = document.getElementById('rss_feed_form');
        const formData = new FormData(form);
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        try {
            const response = await fetch(form.action, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': csrfToken
                },
                credentials: 'same-origin'
            });

            if (!response.ok) {
                throw new Error('RSS Form submission failed');
            }

            console.log('RSS Feed Saved Successfully!');
            button.textContent = 'Saved';
        } catch (error) {
            console.error('Error during RSS form submission', error);
            button.textContent = 'Failed to save';
        } finally {
            setTimeout(() => {
                button.disabled = false;
                button.classList.remove('button-disabled');
                button.textContent = 'Save RSS Feed';
                location.reload();
            }, 2000);
        }
    }

    async function submitAllForms() {
        const button = document.querySelector(".wrapper > .save-button");
        const forms = document.querySelectorAll(".settings-form:not(#rss_feed_form)");
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        let allFormsSubmitted = true;

        button.disabled = true;
        button.classList.add('button-disabled');
        button.textContent = 'Saving...';

        for (const form of forms) {
            const formData = new FormData(form);

            try {
                const response = await fetch(form.action, {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': csrfToken
                    },
                    credentials: 'same-origin'
                });

                if (!response.ok) {
                    throw new Error('Form submission failed: ' + form.id);
                }
            } catch (error) {
                console.error('Error during form submission', error);
                allFormsSubmitted = false;
                break;
            }
        }

        if (allFormsSubmitted) {
            window.location.href = '/manage-rss/';
        } else {
            button.disabled = false;
            button.classList.remove('button-disabled');
            button.textContent = 'Save All Settings';
        }
    }
    </script>

</body>
</html>
