<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | Your Site Name</title>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
</head>
<body>
    <div class="container">
        <form action="{% url 'admin_login' %}" method="post">
            {% csrf_token %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <h1>Login</h1>

            <div class="input-box">
                <input type="text" name="username" placeholder="Username" required />
            </div>
            <div class="input-box">
                <input type="password" name="password" placeholder="Password" required />
            </div>

            <div class="input-box">
                <button type="submit" class="btn">Login</button>
            </div>
        </form>
    </div>
</body>
</html>
